[submodule "extdeps/asio"]
	path = extdeps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "extdeps/json11"]
	path = extdeps/json11
	url = https://github.com/dropbox/json11.git
[submodule "extdeps/websocketpp"]
	path = extdeps/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "extdeps/libuv"]
	path = extdeps/libuv
	url = https://github.com/libuv/libuv.git
